# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\toniz\Desktop\III. semestar\JAVA\PREDAVANJE_07_JAVA_FX\Zubcic-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
